
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #37384b;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: .68px;
  overflow: auto;

}

.content {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
  padding-top: 10px;
}

.wrapper {
  margin-left: 20%;
  margin-top: 5%;
}

h1 {
  line-height: 55px;
  font-size: 2.5rem;
}

.wrap {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: flex;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  background: #303141;

  border: 1px solid rgba(76, 96, 133, .5);
  max-width: 62%;
  margin-top: 3%;

  justify-content: center;
    align-items: center;
    
  
}

.card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow:unset;
  padding-top: 2%;
  padding-bottom: 2%;
}

