@media only screen and (max-width: 1900px) {
    .navbarElementRight {
        margin-left: 40rem
    }

    .search {
        width: 500px;
    }
}

@media only screen and (max-width: 1850px) {

    .search {
        width: 470px;
    }
}

@media only screen and (max-width: 1790px) {

    .card {
        width: 190px;
        height: 250px;
        margin: 5px;
    }

    .card h4 {
        padding: 5px;
        font-size: 9px;
    }

    .card h3 {
        padding: 5px;
    }

    .card p {
        padding: 5px;
        color: #cccc;
        font-size: 9px;
    }

    .buttons {
        margin: 5px;
    }

    .search {
        width: 440px;
    }

    .element-quantity {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 1750px) {
    .search {
        width: 420px;
    }
}

@media only screen and (max-width: 1730px) {
    .navbarElementRight {
        margin-left: 35rem
    }

    .search {
        width: 400px;
    }
}


@media only screen and (max-width: 1660px) {

    .search {
        width: 350px;
    }
}

@media only screen and (max-width: 1650px) {
    .navbarElementRight {
        margin-left: 30rem
    }

}

@media only screen and (max-width: 1600px) {

    .search {
        width: 310px;
    }
}


@media only screen and (max-width: 1550px) {
    .navbarElementRight {
        margin-left: 27rem
    }

    #logo {
        font-size: 11px;
    }

    .search {
        width: 290px;
    }
}

@media only screen and (max-width: 1510px) {

    .search {
        width: 280px;
    }
}

@media only screen and (max-width: 1490px) {

    .navbarElementRight {
        margin-left: 25rem
    }
}

@media only screen and (max-width: 1480px) {

    .search {
        width: 260px;
    }

    .navbarElementRight {
        margin-left: 22rem
    }
}

@media only screen and (max-width: 1460px) {

    .search {
        width: 240px;
    }

    .navbarElementRight {
        margin-left: 20rem
    }
}

@media only screen and (max-width: 1410px) {

    .search {
        width: 210px;
    }


}

@media only screen and (max-width: 1355px) {

    .navbarElementRight {
        margin-left: 15rem
    }
}

@media only screen and (max-width: 1350px) {

    .search-element {
        width: 75%;
        margin-top: 10px;
    }

    .search {
        margin-left: 0px;
    }

    .fa-search {
        padding-left: 0%;
    }

    .card {
        width: 250px;
        height: 320px;
        margin: 10px;
    }


    .card h4 {
        padding: 10px;
        font-size: 9px;
    }

    .card h3 {
        padding: 10px;
    }

    .card p {
        padding: 10px;
        font-size: 14px;
    }

    .buttons {
        margin: 10px;
    }
}

@media only screen and (max-width: 1260px) {
    #logo {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {

    .left-element {
        display: none;
    }

    .right-element {
        display: none;
    }

    #logo {
        display: flex;
        font-size: 10px;
        width: 200px;
    }

    .sing-in-button {
        margin-left: 45rem
    }
}


@media only screen and (max-width: 968px) {
    .sing-in-button {
        margin-left: 45px
    }

    .card {
        width: 200px;
        height: 340px;
        margin: 10px;
    }
    #logo {
        font-size: 13px;
    }
}